 {% unless grid_image_width %} 
   {%- assign grid_image_width = '500x600' -%} 
 {% endunless %} 
 {% if optimized == 1 %}
   {% assign grid_image_width_optimized = '2x2' %}
 {% else %}
   {% assign grid_image_width_optimized = grid_image_width %}
 {% endif %}
 <div class="grid-view-item{% unless product.available %} product-price--sold-out grid-view-item--sold-out{% endunless %}"> 
   <a class="grid-view-item__link {% if product.images.size > 1 %} has-secondary{% endif %}" href="{{ product.url }}"> 
     <img class="grid-view-item__image grid-view-item__image_lazy" src="{{ product.featured_image.src | img_url: grid_image_width_optimized }}" data-src="{{ product.featured_image.src | img_url: grid_image_width }}" alt="{{ product.featured_image.alt }}"> 
     {% if product.images.size > 1 %} 
      <img class="secondary grid-view-item__image_lazy" src="{{ product.images.last | img_url: grid_image_width_optimized }}" data-src="{{ product.images.last | img_url: grid_image_width }}" alt="{{ product.images.last.alt | escape }}"> 
     {% endif %} 
     <div class="h4 grid-view-item__title">{{ product.title }}</div>
{% comment %}Start automatically added Judge.me widget{% endcomment %}
  {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', concierge_install: true, product: product %}
{% comment %}End automatically added Judge.me widget{% endcomment %}
 
     {% if section.settings.show_vendor %} 
       <div class="grid-view-item__vendor">{{ product.vendor }}</div> 
     {% endif %} 
     <div class="grid-view-item__meta"> 
       {% include 'product-price', variant: product %} 
     </div> 
   </a> 
 </div> 
